<!-- GLOBAL TOAST -->
<div *ngIf="toastService.message()" class="toast-overlay fade-in">
  <div class="toast-card" [ngClass]="toastService.type()">
    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" width="18">
      <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
      <polyline points="22 4 12 14.01 9 11.01"></polyline>
    </svg>
    <span>{{ toastService.message() }}</span>
  </div>
</div>

@if (showHeaderFooter) {
<app-brand-header></app-brand-header>
}

<div class="app-container">
  <app-background-animation></app-background-animation>
  
  <router-outlet />
  @if (showHeaderFooter) {
  <div class="footer-border"></div>
  <div class="global-footer">
    <div class="gf-left">
      Trusted by 50,000+ businesses worldwide for <br /> secure, instant payments
    </div>
    <div class="gf-right">
      Secured by <strong style="color: rgb(212, 180, 0);">Kuber Financial</strong> &middot; All transactions
      encrypted
    </div>
  </div>
  }
</div>